<!-- 
Happen so often so rails developer make a shortcut on index.html just put render @blogs and
in partial html just put the tr code without to each @blogs.each. #rails_shortcut
-->
<%# @blogs.each do |blog| %> 
  <tr>
    <td><%= blog.title.upcase %></td>
    <td>Published <%= distance_of_time_in_words(blog.created_at, Time.now) %> ago</td>
    <td><%= blog.body %></td>
    <td><%= link_to blog.status, toggle_status_blog_path(blog) %></td>
    <td><%= link_to 'Show', blog %></td>
    <td><%= link_to 'Edit', edit_blog_path(blog) if logged_in?(:site_admin) %></td>
    <td><%= link_to 'Delete Post', blog, method: :delete, data: { confirm: 'Are you sure?' } if logged_in?(:site_admin) %></td>
  </tr>
<%# end %>